################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Job App/Job App/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/Job App/Job App/obj/Debug/Job App.exe.config
/Job App/Job App/obj/Debug/Job App.csproj.CopyComplete
/Job App/Job App/bin/Debug
